<a href="https://colab.research.google.com/github/GEOPATRIVERA15/PROGRA2/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
"Hola"+"mundo" + srt(5)

NameError: ignored

In [0]:
def temperatura(temp_kelvin):
    temp_F = temp_kelvin*5/9
    temp_C = temp_keviln - 273
    return temp_F, Temp_C

In [0]:

def asterix(n):
    for x in range(0,n):
      print("*"*x)
    for x in range(n,0,-1):
      print("*"*x)

In [29]:
asterix(4)

*
**
***
****
***
**
*

In [0]:
def num (n):
    for x in range(0,n):
      print(x*"{}".format(x))

In [76]:
num (10)

1
22
333
4444
55555
666666
7777777
88888888
999999999